# Telegram BotFather dan olingan token
BOT_TOKEN=8720666223:AAH3d_u_J-2pqp3WCnb8L1rcHtTN0RAtzdg
# Maxsus kanal id si (bot kanalda admin bo'lishi kerak), masalan: -1001234567890
CHANNEL_ID=-1004345856126
# Admin (sizning) user id
ADMIN_ID=7924071302